/* Pretty Parser */
/* MIT License, 2014 Gurjot S. Sidhu */

/* Pretty Parser style sheet */

html {
	background: #FFFFE0;
	min-height:100%;
	position:relative
}

body {
	height: 100%;
}

hr {
	width: 40%;
}

a:visited, a:link, a:active {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #FF944D;
  text-decoration: none;
}

.background {
	background: #FFFFE0;
}

#topbar {
	font-family: 'Bad Script',Times,sans-serif;
}

#topbar h1 {
	text-align: center;
	vertical-align: middle;
	margin-top: 20px;
	margin-bottom: 20px;
}

.item {
	margin-left: 20%;
	margin-right: 20%;
	text-align: left;
}

.item #title {
	font-family: 'PT Serif', helvetica, verdana, serif;
	font-size: 16px;
	font-style: underline;
}

.item #title h2 {
	font-size: 16px;
}

.item #title a {
	font-family: 'PT Serif', helvetica, verdana, serif;
	font-size: 16px;
	color: #000000;
	font-style: underline;
}

.item #title a:hover {
	font-family: 'PT Serif', helvetica, verdana, serif;
	font-size: 16px;
	color: #CC0000;
	font-style: underline;
}

.item #pubdate {
	font-family: 'PT Serif', helvetica, verdana, serif;
	font-style: italic;
	font-size: 12px;
}

.item #author {
	font-family: 'PT Serif', helvetica, verdana, serif;
	font-style: bold, italic;
	font-size: 14px;
}

.item #description {
	font-family: 'PT Serif', helvetica, verdana, serif;
	font-size: 14px;
}

.footer h3 {
	font-family: 'Economica','PT Serif', helvetica, verdana, serif;
	font-size: 24px;
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
}

.footer h4 {
	font-family: 'Economica','PT Serif', helvetica, verdana, serif;
	font-size: 18px;
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
}

.footer p {
	font-family: 'Economica','PT Serif', helvetica, verdana, serif;
	font-size: 18px;
	margin: 0;
	padding: 0;
}
.footer {
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
}

